@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

* {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    border: 0;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
    margin-bottom: 85px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav-title {
    font-weight: 700;
    font-size: 2.8rem;
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 0px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 32px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main styles */

main {
    max-width: 1440px;
    padding-left: 240px;
    padding-right: 240px;
    margin: 0 auto;
}

/* team section styles */

.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.team-title .quick-list{
    font-weight: 500;
    color: #727272;
}

.team-title .features-text{
    color: #FF900E;
}

.team-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}


/* responsive styles */

/* mobile devices */
@media screen and (max-width:575px) {

    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}